<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~60917/Vader
    RewriteRule ^/~60917/Vader/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /~60917/Vader/index.html [L]
</IfModule>
